.heading-1 {
  font-size: $fontHuge;
  font-weight: $fontBold;
  line-height: 1;
}

.heading-2 {
  font-size: $fontXXLarge;
  font-weight: $fontBold;
  line-height: 1;
}

.heading-3 {
  font-size: $fontXLarge;
  font-weight: $fontBold;
  line-height: 1;
}
