.sales {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 180px 0;
  background-image: url(https://via.placeholder.com/1900x300);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $colorWhite;
  text-align: center;
  overflow: hidden;

  &__content {
    position: relative;
    top: -56px;
    z-index: 1;
  }
}

.sales__content p {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
}

.sales__content span {
  display: flex;
  justify-content: center;
  text-transform: lowercase;
  font-family: 'Calligraffitti', cursive;
  font-size: 18px;
}

.sales__content hr {
  width: 100px;
  margin: 18px auto;
  height: 2px;
  border: 0;
  background: $colorWhite;
}

.sales__overlay {
  align-items: center;
  background-color: #000;
  color: rgba(255,255,255,0.2);
  display: flex;
  font-size: 260px;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0.7;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}

/** New Coolection -------------------------------------------------------------------------------------------------- */
.new-collection {
  padding-bottom: 0;
}

.new-collection__content {
  display: flex;
  margin-bottom: 64px;
}

.new-collection__content:last-child {
  margin-bottom: 0;
}

.new-collection__image {
  background-color: $colorWhite;
  flex-grow: 1;
}

.new-collection__image img {
  width: 100%;
  height: 100%;
}

.new-collection__info {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-basis: 60%;
}

.new-collection__info:nth-child(even) {
  align-items: flex-end;
  text-align: right;
}

.new-collection__info h3 span {
  font-weight: 300;
}

.new-collection__info p {
  font-size: 24px;
  color: #666;
  font-family: 'Calligraffitti', cursive;
  text-align: right;
  text-transform: lowercase;
}

.new-collection__info .new-collection__hashtag {
  color: #1e90ff;
}


@media only screen and (max-width: 1024px) {
  .new-collection__content {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0;
  }

  .new-collection__content:nth-child(even) {
    flex-direction: column;
    align-items: center;
  }

  .new-collection__info,
  .new-collection__content:nth-child(even) .new-collection__info {
    padding: 24px 0;
    align-items: center;
    text-align: center;
  }

  .new-collection__info p {
    padding-left: 0;
    padding-right: 0;
  }
}
